.hero {
background-image: url('../../../assets/pictures/ImageHero.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 696px;
color: white;
align-content: center;
padding-left: 64px;
font-family: "Inter", sans-serif;
}

.hero h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 0.66667;
    margin-bottom: 16px;
}

.hero h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    margin-bottom: 40px;
}

.hero button {
    border-radius: 200px;
        width: 173px;
        height: 56px;
        background: #e44848;
        color: white;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: -0.01em;
}